#portfolio {
  padding: 80px 15px;
}
#portfolio .title {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#portfolio .title .square {
  background: #ffdedf;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}
#portfolio .title h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  margin-bottom: 2rem;
  z-index: 1;
  position: absolute;
  letter-spacing: 3.8px;
}
#portfolio .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  grid-gap: 10px;
}
#portfolio .portfolio-container .box {
  background: #000;
  display: block;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
#portfolio .portfolio-container .box:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.09);
}
#portfolio .portfolio-container .box .image .hover-bg {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0);
  transition: .4s ease-in-out;
 }
 #portfolio .portfolio-container .box:hover .image .hover-bg {
   padding: 10px 20px;
   background: rgba(255, 53, 53, .8);
 }
 
 #portfolio .portfolio-container .box .image .hover-bg{
  height: 100%;
  width: 100%;
}
#portfolio .portfolio-container .box .image .hover-bg .title{
  height: 100%;
  width: 100%;
}
 #portfolio .portfolio-container .box .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: all .3s ease-in-out;
  opacity: 0;
 }
 #portfolio .portfolio-container .box:hover .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0, 0);
  transition: all .3s ease-in-out;
  opacity: 1;
 }

 /*////////////////////////// Box Locations ////////////////////////*/
 #portfolio .portfolio-container .box.image1 {
   grid-column: 1 / 2;
   grid-row: 1/ 3;
 }
 #portfolio .portfolio-container .box.image1 .image  {
   background: url('../../img/luxuryLandscaping.PNG');
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   
  }
   #portfolio .portfolio-container .box.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  #portfolio .portfolio-container .box.image2 .image  {
    background: url('../../img/budgetCalc.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
    
   #portfolio .portfolio-container .box.image3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  #portfolio .portfolio-container .box.image3 .image  {
    background: url('../../img/loopLab.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
   #portfolio .portfolio-container .box.image4 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }
  #portfolio .portfolio-container .box.image4 .image  {
    background: url('../../img/mountainTravel.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
   #portfolio .portfolio-container .box.image5 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }
  #portfolio .portfolio-container .box.image5 .image  {
    background: url('../../img/pigGame.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
   #portfolio .portfolio-container .box.image6 {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }
  #portfolio .portfolio-container .box.image6 .image  {
    background: url('../../img/colorGame.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   }
   #portfolio .portfolio-container .box.image7 {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
  }
  #portfolio .portfolio-container .box.image7 .image  {
    background: url('../../img/gitFinder.PNG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   } 
   
   /* tablets */
@media only screen and (max-width: 960px) {
  #portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 10px;
  }

  #portfolio .portfolio-container .box.box.image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  #portfolio .portfolio-container .box.box.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  #portfolio .portfolio-container .box.box.image3 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  #portfolio .portfolio-container .box.box.image4 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  #portfolio .portfolio-container .box.box.image5 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }
  #portfolio .portfolio-container .box.box.image6 {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }
  #portfolio .portfolio-container .box.box.image7 {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
  }
}
/* Phones */
@media only screen and (max-width: 767px) {
  #portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 10px;
  }

  #portfolio .portfolio-container .box.box.image1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  #portfolio .portfolio-container .box.box.image2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  #portfolio .portfolio-container .box.box.image3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  #portfolio .portfolio-container .box.box.image4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  #portfolio .portfolio-container .box.box.image5 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }
  #portfolio .portfolio-container .box.box.image6 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
  }
  #portfolio .portfolio-container .box.box.image7 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
  }
} 